{{#> layouts/main}}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Suspicious Package Form</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/find/package">Suspicious Package Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Suspicious Package Form</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header border-0" style="display: block ruby; border-bottom: 1px solid rgba(0, 0, 0, .05) !important;">
            <h3 class="mb-0" style="width: 70%; line-height: 230%;">Suspicious Package Form</h3>
          </div>
          <div class="table-responsive" style="padding: 0.25rem 1.5rem; padding: 0.25rem 1.5rem; display: grid; grid-template-columns: auto auto;">
            {{#each package}}
            <div>
              <h4 class="mb-0" style="line-height: 230%;">{{fixCamelCase @key}}: </h4>
              <p class="mb-0" style="line-height: 230%;">{{{this}}}</p>
            </div>
            {{/each}}
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <!-- <footer class="footer pt-0">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
          <div class="copyright text-center  text-lg-left  text-muted">
            &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div>
      </div>
    </footer> -->
  </div>
{{/layouts/main}}
