{{#> layouts/main}}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Suspicious Package Form</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/find/package">Suspicious Package Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Suspicious Package Form</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header border-0" style="display: block ruby; border-bottom: 1px solid rgba(0, 0, 0, .05) !important;">
            <h3 class="mb-0" style="width: 70%; line-height: 230%;">Suspicious Package Form</h3>
          </div>
          <div class="table-responsive" style="padding: 0.25rem 1.5rem; padding: 0.25rem 1.5rem; display: grid; grid-template-columns: auto auto;">
            {{#each package}}
            <div>
              <h4 class="mb-0" style="line-height: 230%;">{{fixCamelCase @key}}: </h4>
              <p class="mb-0" style="line-height: 230%;">{{{this}}}</p>
            </div>
            {{/each}}
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
          </div>
        </div>
      </div>
    </div>
  </div>
{{/layouts/main}}
